@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #010001;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #272726;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --primaryColor: #3498db;
  --textColor: #e8e8e8;
  --hoverTextColor: #4e4c4cd3;
  --secondaryColor: rgb(255, 105, 125);
  --overlayColor: #0c0c0c79;
}

body {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  min-height: 100vh;
  background: url("./assets/black_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  z-index: 0;
}



/* Navbar */
nav {
  height: 160px;
  display: flex;
  flex-direction: column;
}
.logoNav {
  height: 60px;
  padding: 10px;
  align-self: center;
  margin-bottom: 10px;
}
.navLogoImg {
  height: 60px;
}
.navBar {
  height: 80px;
  margin-top: 10px;
}
.navItems {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  border-bottom: 2px solid var(--hoverTextColor);
}

.navItem {
  position: relative;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular" sans-serif;
  font-weight: 500;
  padding: 8px;
  cursor: pointer;
  color: var(--textColor);
  letter-spacing: 0.5px;
}

.navItem::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--secondaryColor);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navItem:hover::after,
.navItem:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navItem:hover,
.navIcons:hover {
  font-weight: 700;
}

.navIcons {
  display: block;
}
.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.selected {
  background-color: var(--secondaryColor);
  border-radius: 10px;
}

.container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 180px);
}

.picContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.pizza,
.pizzaImg {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlayColor);
  z-index: 1;
}

.textContainer {
  position: absolute;
  top: 25%;
  left: 20%;
  width: 60%;
  height: 300px;
  background-color: var(--overlayColor);
  z-index: 3;
  color: var(--textColor);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 50px;
}

.welcome {
  font-size: 3rem;
}
.slogan {
  font-size: 1.5rem;
}
.estd {
  font-size: 18px;
  color: #949394;
}

.welcome,
.slogan,
.estd {
  margin-bottom: 5px;
  padding: 2px;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menuBtn,
.reserveBtn {
  width: 120px;
  height: 40px;
  border-radius: 12px;
  font-size: 18px;
  letter-spacing: 0.5px;
  cursor: pointer;
  border: 1px solid var(--secondaryColor);
  background-color: transparent;
  color: var(--textColor);
}

.menuBtn:hover,
.reserveBtn:hover {
  background-color: var(--secondaryColor);
}




/* About Page */

.mainContainer {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoContainer {
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
  flex-wrap: wrap;
}

.aboutPic {
  background: url("./assets/dhalbhats.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  overflow: hidden;
}
.infoImg {
  height: 250px;
}

.aboutText {
  color: var(--textColor);
  max-width: 800px;
}

.info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.infoTitle {
  font-size: 40px;
  padding: 5px 15px;
  margin-bottom: 5px;
}
.mainBody,
.infoSlogan {
  padding: 10px;
  font-size: 18px;
}

.aboutContact {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.aboutLocation,
.aboutCall,
.aboutEmail {
  display: flex;
  margin: 10px 0px;
  align-items: center;
  padding: 10px 0px;
  gap: 10px;
  border-bottom: 3px dotted var(--hoverTextColor);
  font-size: 20px;
  cursor: pointer;
}

.aboutLocation:hover,
.aboutCall:hover,
.aboutEmail:hover {
  color: var(--secondaryColor);
}







/* Anchor Tag */
a {
  text-decoration: none;
  color: var(--textColor);
  height: 100%;
  width: 100%;
}
/* List */
ul {
  list-style: none;
}
footer {
  margin-bottom: 10px;
  text-align: center;
  color: var(--textColor);
}


/* Media Query */
@media only screen and (max-width: 1000px) {
  .container {
    height: 100vh;
  }

  .pizza,
  .pizzaImg {
    display: none;
  }

  .picContainer {
    justify-content: center;
  }

  .textContainer {
    top: 5%;
    height: 500px;
  }

  .burger {
    position: absolute;
    top: 5%;
  }

  .navIcons {
    display: none !important;
  }
}

@media only screen and (max-width: 600px) {
  .navItems {
    display: flex;
  }
  .navIcons {
    display: block !important;
  }
  .navText {
    display: none !important;
  }
  .navIcons:hover {
    font-weight: 700;
  }
}
