@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@300&family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #010001;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #272726;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --primaryColor: #3498db;
  --textColor: #e8e8e8;
  --hoverTextColor: #4e4c4cd3;
  --secondaryColor: rgb(255, 105, 125);
  --overlayColor: #0c0c0c79;
}

body {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  min-height: 100vh;
  background: url("./assets/black_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  z-index: 0;
}

/* Navbar */
nav {
  height: 160px;
  display: flex;
  flex-direction: column;
}
.logoNav {
  height: 60px;
  padding: 10px;
  align-self: center;
  margin-bottom: 10px;
}
.navLogoImg {
  height: 60px;
}
.navBar {
  height: 80px;
  margin-top: 10px;
}
.navItems {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  border-bottom: 2px solid var(--hoverTextColor);
}

.navItem {
  position: relative;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular" sans-serif;
  font-weight: 500;
  padding: 8px;
  cursor: pointer;
  color: var(--textColor);
  letter-spacing: 0.5px;
}

.navItem::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--secondaryColor);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navItem:hover::after,
.navItem:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navItem:hover,
.navIcons:hover {
  font-weight: 700;
}

.navIcons {
  display: block;
}
.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.selected {
  background-color: var(--secondaryColor);
  border-radius: 10px;
}

.landingContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landingImgContainer {
  width: 90%;
  height: 90%;
  /* border: 2px solid greenyellow; */
}

.picContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.pizza,
.pizzaImg {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlayColor);
  z-index: 1;
}

.textContainer {
  position: absolute;
  top: 28%;
  left: 25%;
  width: 50%;
  height: 40%;
  background-color: var(--overlayColor);
  z-index: 3;
  color: var(--textColor);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 50px;
}

.welcome {
  font-size: 3rem;
  font-weight: 500;
}
.slogan {
  font-size: 1.5rem;
}
.estd {
  font-size: 18px;
  color: #949394;
}

.welcome,
.slogan,
.estd {
  margin-bottom: 15px;
  padding: 2px;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menuBtn,
.reserveBtn {
  width: 120px;
  height: 60px;
  margin: 5px 10px;
  border-radius: 12px;
  font-size: 20px;
  letter-spacing: 0.5px;
  cursor: pointer;
  border: 1px solid var(--secondaryColor);
  background-color: transparent;
  color: var(--textColor);
}

.menuBtn:hover,
.reserveBtn:hover {
  background-color: var(--secondaryColor);
}

/* About Page */

.mainContainer {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoContainer {
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
  flex-wrap: wrap;
}

.aboutPic {
  background: url("./assets/dhalbhats.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  overflow: hidden;
}
.infoImg {
  height: 250px;
}

.aboutText {
  color: var(--textColor);
  max-width: 800px;
}

.info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.infoTitle {
  font-size: 40px;
  padding: 5px 15px;
  margin-bottom: 5px;
}
.mainBody,
.infoSlogan {
  padding: 10px;
  font-size: 18px;
}

.aboutContact {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.aboutSection {
  display: flex;
  margin: 20px 0px;
  align-items: center;
  padding: 10px 0px;
  gap: 10px;
  border-bottom: 3px dotted var(--hoverTextColor);
  font-size: 20px;
  cursor: pointer;
}

.aboutSection:hover {
  color: var(--secondaryColor);
}

/* Contact us page */
.mainContact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
}

.mainContactContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  min-height: 500px;
}
.needHelpContainer {
  min-width: 50%;
  margin: 5px;
}
.contactContainer {
  min-width: 40%;
  margin: 5px;
  padding: 15px;
  color: var(--textColor);
}

form {
  height: 100%;
  padding: 10px;
  max-width: 100%;
}
.inputs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.contactTitle {
  color: var(--textColor);
  font-size: 30px;
  margin: 5px 10px 10px 5px;
}

.inputFields {
  color: var(--textColor);
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  height: 50px;
  background-color: transparent;
  border: 1px solid var(--hoverTextColor);
  font-size: 18px;
}
.inputFields:hover,
.inputFields:focus {
  border: 1px solid var(--secondaryColor);
}

.break {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#fname,
#lname,
#noTable,
#noPeople,
#date,
#purpose {
  width: 45%;
}

#date {
  cursor: pointer;
}

.contactSubmit {
  width: 150px;
  padding: 5px;
  height: 40px;
  border-radius: 15px;
  background-color: transparent;
  border: 1px solid var(--secondaryColor);
  color: var(--textColor);
  font-size: 25px;
  margin: 10px 0px;
  cursor: pointer;
}

.contactSubmit:hover {
  background-color: var(--secondaryColor);
  font-weight: 600;
}

.inputFields:focus,
.contactSubmit:focus {
  outline: none;
}

/* Reservation Table */
.reserveContainer {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--textColor);
}
.reserveTableContainer {
  width: 80%;
  height: 90%;
}

.reserveTitle {
  margin: 20px;
  padding: 10px;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}

.ocassion {
  color: var(--textColor);
  padding: 20px;
  border-radius: 20px;
  height: 40px;
  font-size: 16px;
  background-color: #181818;
  border: 1px solid var(--hoverTextColor);
  flex-wrap: wrap;
}

.btnSubmit {
  margin: 20px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* GAllery */

.galleryContainer {
  width: 100vw;
  min-height: 100vh;
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
}

.venueContainer {
  margin: 10px;
  padding: 10px;
  max-height: 500px;
}

.galleryTitle {
  font-size: 30px;
  font-weight: 500;
  margin: 15px 0px;
}

.gallery {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 20px;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  width: 100%;
  height: 100%;
}

.galleryItem {
  scroll-snap-align: center;
  min-width: 75%;
  max-height: 400px;
}

.galleryImg {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.specialItemsContainer {
  overflow: hidden;
  margin: 10px;
  padding: 10px;
}

.specialItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.specialItem {
  position: relative;
  display: flex;
  width: 350px;
  height: 200px;
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 3px 3px 25px -6px rgba(97, 97, 97, 0.75);
  cursor: pointer;
  z-index: 1;
}
.specialItem:hover {
  transform: scale(1.05) translateY(-1%);
}

.specialItemImg {
  width: 100%;
  height: 100%;
}

.overlayText {
  position: absolute;
  background-color: var(--overlayColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 3ms ease-in-out;
}

.specialItem:hover .overlayText {
  transform: translateY(0%);
}

.overlayTextTitle {
  font-size: 25px;
  padding: 5px;
}

.overlayTextPrice {
  font-size: 18px;
  padding: 5px;
}
.reviewContainer {
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.reviewSlider {
  width: fit-content;
  display: flex;
}

.reviewImgContainer {
  width: 100vw;
  padding: 20px;
  min-height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  padding: 20px;
  align-items: center;
  min-height: 80%;
  width: 80%;
  background-color: var(--overlayColor);
  border-radius: 20px;
  box-shadow: 3px 3px 8px 3px rgb(61, 61, 61);
}
.review {
  margin: 10px;
  border: 1px solid blue;
}
.avatarContainer {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.reviewDetail {
  margin-top: 10px;
  width: 100%;
  min-height: 60%;
}

.avatar {
  padding: 0;
  width: 120px;
  height: 120px;
  border-radius: 60%;
}

.avatarImg {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.reviewTitle {
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  color: var(--secondaryColor);
}
.reviewText {
  font-size: 18px;
  color: rgb(177, 175, 175);
  padding: 10px;
}

/* Menu page */
.mainMenuContainer {
  min-height: 100vh;
  overflow-x: hidden;
  /* border: 1px solid greenyellow; */
  color: var(--textColor);
}

.menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  /* border: 1px solid blue; */
  margin: 20px;
  background-image: url("./assets/menubg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  border: 2px double var(--textColor);
}
.menuPageTitle {
  font-family: "Baskerville", serif;
  font-size: 40px;
  font-style: italic;
  color: var(--secondaryColor);
}
.menuItemsContainer {
  /* border: 1px solid red; */
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
}
.menuItemsSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: 1px solid yellow; */
  width: 40%;
  margin: 10px 5px;
}

.categoryTitle,
.menuItemsTitle {
  font-family: "Baskerville", serif;
}

.categoryTitle {
  color: var(--secondaryColor);
  font-size: 25px;
  font-weight: 200;
  padding: 8px 2px;
  width: max-content;
  border-bottom: 1px double var(--secondaryColor);
}

.menuItemsTitle {
  padding: 5px 0px;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1.3px;
}

/* .menuItems {
  border: 1px solid white;
} */

.menuItem {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  flex-wrap: wrap;
  min-height: 130px;
  width: 100%;
  border-bottom: 1px solid var(--hoverTextColor);
  cursor: pointer;
}

.menuItem:hover {
  background-color: #4e4c4c75;
  transform: scale(1.1);
  border-radius: 10px;
}

.itemInfo {
  max-width: 60%;
}
.menuItemImg {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}
.menuItemImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.menuItemInfo {
  padding: 3px 0px;
  font-size: 12px;
  color: rgb(189, 187, 187);
}

.menuPrice {
  font-size: 19px;
  margin: 10px 0px 3px 0px;
  color: var(--secondaryColor);
}

/* Anchor Tag */
a {
  text-decoration: none;
  color: var(--textColor);
  height: 100%;
  width: 100%;
}
/* List */
ul {
  list-style: none;
}

.footContainer {
  max-width: 1170px;
  margin: auto;
}
.footRow {
  display: flex;
  flex-wrap: wrap;
  color: var(--textColor);
}
ul {
  list-style: none;
}
.footer {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 70px 0 20px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.footer .fab {
  font-size: 15px;
}

#copyright {
  padding: 20px 0 0 0;
  width: 100%;
  font-size: 15px;
  text-align: center;
}
/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* Media Query */
@media only screen and (max-width: 1000px) {
  .landingContainer {
    height: 100vh;
  }

  .pizza,
  .pizzaImg {
    display: none;
  }

  .picContainer {
    justify-content: center;
  }

  .textContainer {
    top: 15%;
    left: 5%;
    width: 90%;
    height: 500px;
  }

  .burger {
    position: absolute;
    top: 15%;
  }

  .navIcons {
    display: none !important;
  }
  .mainContactContainer {
    justify-content: center;
  }
  .needHelpContainer {
    min-width: 100%;
  }
  .contactContainer {
    min-width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .menuItemsContainer {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .menuItemsSection {
    width: 80%;
  }

  .specialItems {
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .specialItem {
    width: 80%;
    height: 250px;
  }
}

@media only screen and (max-width: 600px) {
  .navItems {
    display: flex;
  }
  .navIcons {
    display: block !important;
  }
  .navText {
    display: none !important;
  }
  .navIcons:hover {
    font-weight: 700;
  }
}
